
*.dll
*.json
*.cache
*.exe
*.pdb
*.CopyComplete
*.txt
*.targets
*.props
InterviewBitInDS/.vs/InterviewBitInDS/v16/.suo
*obj*
*.v2
*.xml
InterviewBitInDS/Arrays/.DS_Store
InterviewBitInDS/Arrays/.DS_Store
*.xml
*.xml
